<!-- <h1>Middle Country</h1> -->
<h1> What's in between?</h1>

<div>
    <div class="split left">
        <div class="countryName">  
            <p>{{this.twoCountries?.firstCountry}}</p>
        </div>
    </div>
    <div class="split right">
        <div class="countryName">  
            <p>{{this.twoCountries?.secondCountry}}</p>
        </div>
    </div>
</div>

<div class="answer">
    <label for="countryName">Name a country</label>
    <input [(ngModel)]="answer"
            list="options"
            type="text"
            placeholder="Country"
            autocomplete="off"
            (ngModelChange)="updatelist($event)"
            class="example-input">
    <datalist id="options">
        @for (country of this.filteredCountry; track $index) {
            <option value={{country}}></option>
        }
    </datalist>
</div>








