<!-- <h1>Middle Country</h1> -->
<h1> What's in between?</h1>

<div>
    <div class="split left">
        <div class="countryName">  
            <p>{{this.twoCountries?.firstCountry}}</p>
        </div>
    </div>
    <div class="split right">
        <div class="countryName">  
            <p>{{this.twoCountries?.secondCountry}}</p>
        </div>
    </div>
</div>

<div class="answer">
    <form>
        <label for="countryName">Name a country</label>
        <input [(ngModel)]="answer" type="text" id="countryName" name="answer" placeholder="Country" autocomplete="country" required>
    </form>
</div>







